GOOGLE_CLIENT_ID = 148043301582-ls9sjncn3ljodcu9i2k4kboj4d8liqt6.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.148043301582-ls9sjncn3ljodcu9i2k4kboj4d8liqt6

INFOPLIST_FILE = Configuration/Info.plist
CODE_SIGN_ENTITLEMENTS = Configuration/iMail.entitlements
ENABLE_OUTGOING_NETWORK_CONNECTIONS = YES
