GOOGLE_CLIENT_ID = 143365580349-hlt5vffik63hj13enolev6vm90222lfp.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.143365580349-hlt5vffik63hj13enolev6vm90222lfp

INFOPLIST_FILE = Configuration/Info.plist
CODE_SIGN_ENTITLEMENTS = Configuration/Postie.entitlements
ENABLE_OUTGOING_NETWORK_CONNECTIONS = YES
