<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>$(GOOGLE_CLIENT_ID)</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
            </array>
        </dict>
    </array>
    <key>SUFeedURL</key>
    <string>https://github.com/igorkulman/Postie/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>45YfF31/vj1sY14780PYpTtxspMRa/K5B48DXbbarpM=</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
</dict>
</plist>
